@import '../../styles/mixins';
.goods {
	background-color: #efefef;
	width: 100%;
	min-height: 100vh;

	&_thumb {
		width: 100%;
		height: auto;
		position: relative;

		&__img {
			width: 100%;
			height: auto;
			display: block;
		}

		&__share {
			color: #fff;
			font-size: 24rpx;
			font-weight: 500;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(0, 0, 0, .5);
			position: absolute;
			right: 20rpx;
			bottom: 25rpx;
			height: 46rpx;
			line-height: normal;
			border-radius: 23rpx;
			padding: 0 15rpx;

			image {
				width: 22rpx;
				height: 22rpx;
				display: block;
				margin-right: 12rpx;
			}
		}
	}

	&_info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		line-height: normal;
		height: 136rpx;
		background: url(http://pic.gtqad.com/goodsbar.png) no-repeat center/cover;
		color: #fff;
		box-sizing: border-box;
		padding: 0 20rpx;
		&__details {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: flex-start;
			padding:16rpx 0 10rpx;
			box-sizing: border-box;
			.name {
				font-size: 28rpx;
				font-weight: 500;
				@include multi-ellipsis(2);
				width: 400rpx;
				// line-height: 1;
			}

			.price {
				display: flex;
				align-items: flex-end;
				font-size: 36rpx;
				font-weight: 800;
				line-height: normal;

				.yuan {
					font-size: 22rpx;
					position: relative;
					top: -5rpx;
				}

				&_del {
					font-size: 20rpx;
					font-weight: normal;
					margin-left: 8rpx;
					text-decoration: line-through;
					position: relative;
					top: -8rpx;
				}
			}
		}

		&__time {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			font-size: 20rpx;
			flex-direction: column;

			text {
				font-size: 26rpx;
			}
		}
	}

	&_detailt {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 118rpx;
		font-size: 30rpx;
		font-weight: 500;

		image {
			width: 30rpx;
			height: 24rpx;
			display: block;
			margin: 0 25rpx;
		}
	}

	&_imglist {
		width: 100%;
		background-color: #fff;
		padding-bottom: 150rpx;

		image {
			width: 100%;
			height: auto;
			display: block;
		}
	}

	&_footer {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 750rpx;
		height: 120rpx;
		background: #fff;
		z-index: 10;
		border-top: 1rpx solid #eee;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 25rpx;

		&__ly,
		&__hb {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 78rpx;
			border-radius: 39rpx;
			width: 330rpx;
			color: #fff;
			background-color: #EF9739;
			font-size: 30rpx;
			font-weight: 500;

			image {
				width: 35rpx;
				height: 35rpx;
				margin-right: 18rpx;
			}
		}

		&__hb {
			background-color: #F33B3B;

			image {
				width: 28rpx;
				height: 33rpx;
			}
		}
	}

	&_leavemsg {
		position: fixed;
		box-sizing: border-box;
		padding-bottom: 150rpx;
		z-index: 20;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .2);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		&__box {
			background-color: #fff;
			width: 678rpx;
			margin: 0 auto;
			border-radius: 20rpx;
			padding-bottom: 20rpx;

			.tit {
				text-align: center;
				font-size: 28rpx;
				font-weight: bold;
				color: #333;
				height: 94rpx;
				line-height: 94rpx;
			}

			textarea {
				width: 617rpx;
				height: 252rpx;
				background: rgba(238, 238, 238, .4);
				border-radius: 10rpx;
				font-size: 24rpx;
				font-weight: 500;
				margin: 0 auto;
				box-sizing: border-box;
				padding: 20rpx;
			}

			.btn {
				margin: 0 auto;
				width: 492rpx;
				height: 72rpx;
				background-color: #E60012;
				color: #fff;
				border-radius: 36rpx;
				font-size: 28rpx;
				font-weight: 500;
				text-align: center;
				line-height: 72rpx;
				margin: 30rpx auto;
			}
		}

		&__close {
			width: 50rpx;
			height: 50rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 25rpx auto 0;

			image {
				width: 48rpx;
				height: 49rpx;
				display: block;
			}
		}
	}

	&_hongbao {
		position: fixed;
		z-index: 20;
		margin: 0 auto;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: flex;
		align-items: center;
		justify-content: center;

		&__box {
			display: block;
			position: relative;
			margin: 0 auto;
			margin-top: -35%;

			.close {
				display: block;
				position: absolute;
				right: 5%;
				top: 3%;
				width: 60rpx;
				z-index: 2;
			}

			.get, .look {
				position: absolute;
				width: 300rpx;
				height: 60rpx;
				background-color: transparent;
				position: absolute;
				bottom: 110rpx;
				left: 50%;
				transform: translateX(-50%);
			}

			.noopen {
				width: 655rpx;
			}

			.open {
				width: 590rpx;
			}

			.price {
				color: #EB4638;
				font-size: 123rpx;
				font-weight: 800;
				position: absolute;
				top: 21%;
				left: 25%;
				width: 200rpx;
				// background-color:rgba(0, 0, 0, .5);
				text-align: right;
				padding-right: 20rpx;
			}
			.look{
				bottom: 85rpx;
			}
		}
	}
}
