@import '../../styles/mixins';
.shop {
	width: 750rpx;
	min-height: 100vh;
	box-sizing: border-box;
	padding-bottom: 30rpx;
	background-color: #FAFAFA;

	&_top {
		height: 211rpx;
		background-color: #fff;
		box-shadow: 0rpx 0rpx 29rpx 0rpx rgba(150, 150, 150, 0.3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		padding: 30rpx 24rpx;

		&__pic {
			display: flex;
			justify-content: center;
			align-items: cernter;
			width: 163rpx;
			height: 150rpx;
			border-radius: 6rpx;
			overflow: hidden;

			image {
				width: 100%;
				height: auto;
			}
		}

		&__num {
			font-size: 18rpx;
			color: #666;
			line-height: 26rpx;
			text-align: center;

			.num {
				white-space: nowrap;
				font-size: 22rpx;
				font-weight: 500;
				color: #FF9000;
				line-height: 26rpx;
			}
		}

		&__info {
			display: flex;
			flex: 1;
			flex-direction: column;
			margin-left: 37rpx;
			margin-right: 60rpx;

			.name {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 32rpx;
				font-weight: bold;
				color: #333333;
				line-height: 26rpx;

				image {
					margin-left: 20rpx;
					width: 30rpx;
					height: 30rpx;
				}
			}

			.address {
				width: 100%;
				font-size: 22rpx;
				font-weight: 500;
				color: #666;
				line-height: 24rpx;
				margin-top: 22rpx;
				margin-bottom: 15rpx;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.wechat {
				font-size: 22rpx;
				font-weight: 500;
				color: #969696;
				line-height: 24rpx;
				display: flex;
				justify-content: flex-start;
				align-items: center;

				text {
					color: #333;
				}

				image {
					margin-left: 10rpx;
					width: 22rpx;
					height: 22rpx;
				}
			}
		}

	}

	&_goods {
		margin: 45rpx 25rpx 30rpx;

		&__item {
			.tops {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 72rpx;
				width: 100%;
				position: relative;

				&_bg {
					width: 100%;
					height: 100%;
					position: absolute;
				}

				&_icon {
					width: 40rpx;
					height: 40rpx;
				}

				&_tit {
					position: relative;
					z-index: 2;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-left: 22rpx;
				}

				text {
					margin-left: 20rpx;
					font-size: 29rpx;
					color: #fff;
					position: relative;
				}

				button {
					width: 58rpx;
					font-size: 19rpx;
					color: #fff;
					width: 99rpx;
					height: 38rpx;
					background: #FC4E41;
					border-radius: 19rpx;
					line-height: 38rpx;
					text-align: center;
					position: relative;
					z-index: 2;
					margin-right: 22rpx;
				}
			}

			.info {
				width: 100%;
				min-height: 343rpx;
				box-shadow: 0rpx 6rpx 13rpx 1rpx rgba(172, 172, 172, 0.2);
				// border-radius: 20rpx;
				border-radius: 0rpx 0rpx 20rpx 20rpx;
				// background:linear-gradient(90deg,rgba(206,216,218,1) 0%,rgba(185,193,196,1) 100%);
				box-shadow: 0rpx 6rpx 13rpx 1rpx rgba(172, 172, 172, 0.2);
				box-sizing: border-box;
				box-sizing: border-box;
				overflow: hidden;
				margin-bottom: 20rpx;

				&2 {
					border-radius: 20rpx !important;
				}

				.detail {
					background-color: #fff;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;
					position: relative;
					width: 100%;
					padding: 0 24rpx 20rpx;
					box-sizing: border-box;
					.name {
						height: 25rpx;
						font-size: 26rpx;
						font-weight: bold;
						color: #000;
						margin-top: 10rpx;
						margin-bottom: 10rpx;
						@include ellipsis();
						height: 40rpx;
						width: 100%;
					}

					.price {
						display: flex;
						justify-content: flex-start;
						position: relative;
						width: 100%;
						align-items: center;
						font-weight: 800;
						color: #FF0000;
						font-size: 30rpx;
						&_del {
							font-weight: 500;
							color: rgb(117, 108, 108);
							font-size: 20rpx;
							margin-left: 15rpx;
							text-decoration: line-through;
							margin-top: 4rpx;
						}

						.time {
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
							display: flex;
							justify-content: center;
							align-items: center;
							height: 38rpx;
							border: 1px solid #FF9E36;
							border-radius: 20rpx;
							font-size: 20rpx;
							font-weight: bold;
							overflow: hidden;

							&_tips {
								height: 100%;
								padding: 0 20rpx;
								background-color: #FF9E36;
								color: #fff;
								display: flex;
								justify-content: center;
								align-items: center;
								line-height: normal;
							}

							&_box {
								color: #FF0000;
								background-color: #fff;
								padding: 0 20rpx;
							}
						}
					}
				}

			}

			.thumb {
				image{
					width: 100%;
					height: auto;
				}
				width: 100%;
				height: 240rpx;
				background-color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				background: linear-gradient(90deg, rgba(206, 216, 218, 1) 0%, rgba(185, 193, 196, 1) 100%);
			}

		}

	}

	&_list {
		padding-top: 22rpx;
		&__item {
			margin: 0 auto 22rpx;
			width: 690rpx;
			// height: 232rpx;
			overflow: hidden;
			border-radius: 10rpx 10rpx 0 0;
			background-color: #fff;

			.top {
				height: 140rpx;
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 100%;
				background: linear-gradient(90deg, rgba(252, 78, 58, 1), rgba(255, 168, 154, 1));
				color: #fff;

				.pic {
					width: 92rpx;
					height: 92rpx;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					image {
						max-width: 100%
					}
				}

				.desc {
					width: 350rpx;
					display: flex;
					justify-content: center;
					align-items: flex-start;
					flex-direction: column;

					.name {
						font-size: 28rpx;
						font-weight: bold;
					}

					.address {
						margin: 5rpx 0;
						font-size: 30rpx;
						color: #F23A3A;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						font-size: 22rpx;
						color: #fff;


					}

					.wechat {
						display: flex;
						align-items: center;
						line-height: normal;
						justify-content: flex-start;
						text{
							display: inline-flex;
							height: 28rpx;
							line-height: 28rpx;
							line-height: normal;
							background-color: #FE867D;
							border-radius: 14rpx;
							color: #fff;
							font-size: 20rpx;
							padding: 0 22rpx;
						}
						image{
							width: 22rpx;
							height: 22rpx;
							margin-left: 8rpx;
						}
					}
				}

				.btn {
					width: 140rpx;
					height: 48rpx;
					line-height: 48rpx;
					font-size: 24rpx;
					border-radius: 24rpx;
					background-color: #FC4E41;
					color: #fff;
					text-align: center;
				}
			}

		}

		.goods {
			height: 230rpx;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			box-sizing: border-box;
			.pic {
				width: 170rpx;
				height: 170rpx;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				margin: 0 28rpx;
				image {
					max-width: 100%
				}
			}

			.info {
				width: 420rpx;
				height: auto;
				height: 170rpx;
				display: flex;
				justify-content: space-around;
				align-items: flex-start;
				flex-direction: column;
				.name {
					font-size: 28rpx;
					font-weight: 500;
					line-height: 1.2;
					@include multi-ellipsis(2);
				}

				.price {
					font-size: 30rpx;
					font-weight: bold;
					color: #F23A3A;

					text {
						margin-left: 5rpx;
						font-size: 22rpx;
						color: #999999;
						font-weight: 500;
						text-decoration: line-through;
					}
				}
				.time{
					color: #FF7300;
					font-size: 18rpx;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 28rpx;
					border-radius: 14rpx;
					border: 1.2rpx solid #FF7300;
					padding: 0 12rpx;
				}
			}
		}
	}
}
