// 全局
@mixin multi-ellipsis($line-number: 2) {
	display: -webkit-box;
	overflow: hidden;
	white-space: normal;
	text-overflow: ellipsis;
	/* autoprefixer: off */
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line-number;
	/* autoprefixer: on */
}

$padding: 200rpx;

button {
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0;

	&::after {
		display: none;
	}
}

.phoneStyle {
	padding-bottom: 60rpx;
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: $padding 0;
	box-sizing: border-box;
}
